@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<div class="container">
  <h2 class="jumbotron">Edit</h2>

  <div class="jumbotron" id="content">
    <h4>Edit this Stylist: @Html.DisplayFor(model => model.Name)</h4>

    @using (Html.BeginForm())
    {
      @Html.HiddenFor(model => model.StylistId)

      @Html.LabelFor(model => model.Name)
      @Html.EditorFor(model => model.Name)

      <input type="submit" value="Save" class="btn btn-light" />
    }
    <p>@Html.ActionLink("Back to list", "Index")</p>
  </div>
</div>