@{
  Layout = "_Layout";
}

@using HairSalon.Models

<div class="container">
  <h1 class="jumbotron">Appointments</h1>

  <div class="jumbotron" id="content">
  @if (@Model.Count == 0)
  {
    <h3>No appointments have been added yet!</h3>
  }
  else
  {
    <ul>
      @foreach (Appointment appointment in Model)
      {
        <li id="appointment">@Html.ActionLink($"{appointment.Client.Name}", "Details", new { id = appointment.AppointmentId }) | <em>@appointment.Description @appointment.Date</em></li>
      }
    </ul>
  }

  <p>@Html.ActionLink("Add new Appointment", "Create", "Appointments")</p>
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
  </div>
</div>